---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout>
  <div class='flex flex-col items-center w-full text-center text-4xl'>
    <p class='mt-10 mb-10 text-blue-600'>Blog is Coming soon...🚀</p>
  </div>
</BaseLayout>
