---

---

<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css' />
<footer class='bg-gray-50 p-4 text-center'>
  <p class='text-gray-600 mb-3'>Ahmed Magdy © 2025</p>
  <ul class='flex justify-center space-x-4'>
    <li>
      <a href='youtube.com/@smoothbytes'>
        <i class='text-4xl text-red-500 fab fa-youtube'></i>
      </a>
      <a href='linkedin.com/in/ahmedmagdyanaby'>
        <i class='text-4xl text-blue-600 fab fa-linkedin'></i>
      </a>
      <a href='github.com/commandermadi'>
        <i class='text-4xl text-gray-800 fab fa-github'></i>
      </a>
    </li>
  </ul>
</footer>
